<%= form_for @task do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :finished %><br />
		<%= f.check_box :finished %>
	</p>
	<p><%= f.submit %></p>
<% end %>
